Options -Indexes

<IfModule mod_rewrite.c>
RewriteEngine On

# Se o docroot apontar para a raiz do projeto, encaminha tudo para /public
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
